.BuildControl {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  max-width: 40rem;
  margin: auto;
  background-color: #eee;

  &__item {
    margin: .5rem 0;
    display: flex;
    & > * {
      margin: auto 1rem;
    }
  }

  &__label {
    margin: auto;
  }

  &__button {
    border-radius: 3px;
    padding: 1rem;
    transition: background-color .2s;

    &:active {
      background-color: lighten(#333 , 10%);
    }
  }
}