.Modal {
  position: fixed;
  min-width: 40rem;
  padding: 2rem 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,1);
  box-shadow: 5px 5px rgba(0,0,0,.3);
  // border-radius: 5px;
  z-index: 20;
  animation: popout .3s;
}

@keyframes popout {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}