.Input {
  padding-top: 3rem;
  padding-left: 1rem;
  padding-bottom: .5rem;
  font-size: 1.4rem;
  border: none;
  border-bottom: 4px solid transparent;
  width: 80%;
  
  &__container {
    position: relative; 
  }

  &:focus {
    outline: none;
    border-bottom: 4px solid lightsalmon;
  }

  &:not(:placeholder-shown) {
    border-bottom: 4px solid lightgreen;
  }

  &:not(:placeholder-shown) + &__label {
    opacity: 1;
    top: 1rem;
  }

  &__label {
    position: absolute;
    top: 3rem;
    left: 1rem;
    font-size: 1.4rem;
    opacity: 0;
    transition: top .2s, opacity .2s;
    color: #aaa;
  }

  &__invalid {
    &:focus {
      border-bottom: 4px solid lightsalmon !important;
    }
    &:not(:placeholder-shown) {
      border-bottom: 4px solid lightsalmon;
    }
  }
}