$color-green: #26de81;
$color-red: #fa8231;

.Layout {
  display: grid;
  grid: minmax(30px, 50px) 80vh 10vh / repeat(8, 1fr);
}

.Toolbar {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.Main {
  grid-row: 2;
  grid-column: 1 / -1;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  border: none;
  color: white;
  padding: 1.5rem;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &--green {
    background-color: $color-green;
    &:hover {
      background-color: lighten($color-green, 10%);
    }
  }

  &--red {
    background-color: $color-red;
    &:hover {
      background-color: lighten($color-red, 10%);
    }
  }
  &:disabled {
    background-color: #777;
    cursor: auto;
  }
}

.Price {
  font-size: 2rem;
  font-weight: 300;
}
